<div class="container">
  <h1><%= @cocktail.name %></h1>
  <hr>
  <h3>Ingredients</h3>
  <ul>
    <% @doses.each do |dose| %>
      <li>
        <h4><%= dose.ingredient.name %></h4>
        <p><%= dose.description %> | <%= link_to 'Delete Ingredient', cocktail_dose_path(@cocktail, dose), method: :delete, data: { confirm: 'Are you sure?' } %></p>
      </li>
    <% end %>
  </ul>
  <%= link_to 'Add an ingredient', new_cocktail_dose_path(@cocktail) %>
  <hr>
  <%= link_to 'Back to list', cocktails_path %>
  |
  <%= link_to 'Edit', edit_cocktail_path(@cocktail) %>
  |
  <%= link_to 'Delete', cocktail_path(@cocktail), method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
